body{
    background-image: url('https://media.tenor.com/rsSBhhCbF5UAAAAM/shlummo.gif');
    background-repeat: no-repeat;
    background-size: 30%;
    float: right;
    padding-right: 500px;
}
#info {
    width: 1000px;
    height: 100%;
}