body{
    background-image: url('https://media.tenor.com/rsSBhhCbF5UAAAAM/shlummo.gif');
    background-repeat: no-repeat;
    background-size: 30%;
    float: right;
    padding-right: 400px;
}
#info { 
    width: 50%;
    height: 100%;
} 

#flex-container {
    display: flex;
    flex-direction: row;
    gap: 21px;
}
