#smile{
    position: sticky;
    float: right;
    height: 100%;
    width: 250px;
}
.container{
    display: grid;
    grid-auto-flow: column;
    padding: 15px;
}

.item{
    grid-column-start: 1;
  grid-column-end: 3;
  background-color: yellowgreen;
}